

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(248, 248, 248);
    font-size:large;
    scroll-behavior:smooth;
    overflow-x: hidden;
    color: brown
    
}
header{
    width: 1000%;
    height: 60vh;
    background:rgba(181, 221, 208, 0.493);
    background-size: cover;
    background-attachment: fixed;
}
.brand-name{
    font-family: 'Brush Script MT','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, cursive;
    font-size: 4.5em;
    font-size: xx-large;
    font-style: italic;
    flex-grow: initial;
}
nav{
    width: 100%;
    height: 20px;
    background: white;
    color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0,0,0, 2);
}

.cam{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font: 1em sans-serif;
}

.info-text {
    color: #000;
    max-width: 700px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: cursive;
    font-weight: 500;
}

.info-text h1{
    color: rgb(82, 24, 24);
    font-size: 3em;
    padding: 18px;
    font-family: 'Helvetica','Garamond','Arial','sans-serif';
    margin-top: 25px;
    font-stretch: expanded;
}

.gallery{
    padding: 2em;
    color: rgb(129, 34, 34);
    font-style:oblique;
    font-weight: bolder;
    font-size: large;
}
.portfolio-menu{
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-menu ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
}
.portfolio-menu ul li:hover{
    color: white;
    background: rgb(68, 8, 8);
    border-radius: 8px;
    font-size: 20px;
}
li.active{
    color: white;
    background: rgb(68, 8, 8);
    border-radius: 8px;
}
.portfolio-item{
    width: 100%;
    margin-left:120px;
}
.portfolio-item .item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.portfolio-item .item{
    width: 360px;
    height: 360px;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}



.member-info span{
    font-size: 2em;
    color: darkblue;
    font-family: Algerian,'Courier New', Courier, monospace;
}
.member-info p{
    font-size: 1.5em;
}
.member-card{
    text-align: center;
    padding-top: 10px;
    width: 50%;
    margin: auto;
}
.member-card .photo{
    height: 64px;
    width: 36px;
    border-radius: 70%;
}
.member-card .motto-heading{
    color: rgb(85, 31, 31);
}
.member-card .motto{
    color: rgb(255, 0, 98);
}
.member-card p{
    margin: 20px 0px;
    line-height: 5em;
}
.member-card h2{
    margin: 20px;
}
footer{
    width: 1000%;
    padding: 50px 100px;
    background: #fcfafa;
}
.newsletter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}
.newsletter >div{
    flex-basis: 50%;
}
.ntext{
    text-align: right;
}
.newsletter h2{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.newsletter p{
    font-size: 20px;
    margin-top: 20px;
}
.newsletter label{
    position: relative;
}
.newsletter input{
    padding: 20px;
    width: 70%;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.newsletter button{
    position: absolute;
    right: 0;
    padding: 20px;
    background: red;
    color: white;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 0 8px 8px 0;
}
.f-contact{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.f-contact i{
    background: white;
    color: #000;
    padding: 10px;
    font-size: 16px;
    margin:20px 5px ;
    border-radius: 50%;
    transition: 0.4s ease;
}
.f-contact i:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.info-text h1,{
    color: darkgreen;
    border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
